.courselist_classes {
	margin: 2em 0;
	
	.course_object {
		background: #fbfbfb;
		margin: .25em auto;
		width: 30em;
		border: 1px solid #949494;
		padding: 1.25em;
		
		.course_id {
			color: #163673;
		}
		
		.course_info {
			margin: .5em 0 0 0;
		}
	}
}