.home_logo {
	background: url('/static/images/home_logo_background.png');
	float: left;
}

.login_form {
	float: right;
	background: #426139;
	width: 12em;
	height: 100vh;
	color: #fff;
	font-size: 1.5em;
	
	.home_logo_image {
		
	}
}