@import "reset.scss";
@import "home.scss";
@import "courselist.scss";

.sidebar {
	float: right;
	width: 25%;
	padding: 0;
	background: #426139;
	height: calc(100vh);
}

.main_content {
	background: url('/static/images/home_logo_background.png');
	background-size: cover;
	width: 75%;
	float: left;
	min-height: 100vh;
}