@import "reset.scss";
@import "home.scss";
@import "courselist.scss";

body {
	background: url('/static/images/home_logo_background.png');
	background-size: cover;
}

.sidebar {
	float: right;
	width: 25%;
	padding: 0;
	background: #426139;
	height: calc(100vh);
}

.sidebar_info {
	height: calc(33vh - .5em);
	text-align: center;
	padding: .5em 0 0;
	
	img {
		height: 9em;
	}
	
	.welcome_text {
		font-size: 1.25em;
	}
}

.main_content {
	width: 75%;
	float: left;
	min-height: 100vh;
}