@import "reset.scss";
@import "home.scss";
@import "courselist.scss";
@import "classmates.scss";
@import "courseview.scss";

body {
	background: url('/static/images/home_logo_background.png');
	background-size: cover;
}

.errorlist li{
    list-style-type: none;
    display: none;
}

.sidebar {
	float: right;
	width: 25%;
	padding: 0;
	background: #426139;
	height: 100vh;
	color: #ddd;
	position: static;
	
	a {
		color: #163673;
	}
}

.sidebar_info {
	height: calc(33vh - .5em);
	text-align: center;
	padding: .5em 0 0;
	
	img {
		height: 9em;
	}
	
	.welcome_text {
		font-size: 1.25em;
	}
}

.sidebar_tools {
	padding: 2em;
	
	ul {
		list-style-type: none;
		margin: 1em 0;
		
		li {
			line-height: 1.25em;
		}
	}
}

.main_content {
	width: 75%;
	float: left;
	min-height: 100vh;
	
	article {
		margin: 2em auto;
		width: 45em;
	    width: 50%;
	    top: 30%;
	    padding: 2em;
	    background-color: white;
	}
    h2 {
        text-align: center;
    }
    #form_input p {
        padding: 3px;
        padding-left: 2em;
    }
    #course_form {
        font-size: 80%;
        text-align: center;
    }
}

.help_content {
  padding: 0 2em;
  text-align: justify;
}

.help_content2 {
    text-align: justify;
}

.help_button {
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: 5px 5px 5px 5px;
}

a {
	color: #163673;
}