<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href='{% static "screen.css" %}' media="screen, projection" rel='stylesheet' type="text/css">
</head>
<body>

    {% block body %}
    {% endblock %}
    
    {% if user.is_authenticated %}
	<div class='sidebar'>
	    <div class='sidebar_info'>
	    	<img src='{% static "images/avatar_logo_default.png" %}' class='avatar_logo_default'>
	        <p class='welcome_text'>Hello, {{ user.full_name }}</p><a href="/accounts/logout" class='logout'>Logout</a>
	    </div>
	    <div class='sidebar_tools'>
			<p>You're logged in, grats....you should add courses</p>
			<ul class='nav'>
				<li><a href="/courses/add">Add a course</a></li>
				<li><a href='/accounts/profile/'>Home</a></li>
				<li><a href="/accounts/edit">Edit Personal Info</a></li>
			</ul>
			<p>Site description goes here. Site description goes here. Site description goes here. Site description goes here. Site description goes here.</p>
	    </div>
	</div>
	{% endif %}
</body>
</html>