{% extends "classapp/base.html" %}
    {% load staticfiles %}

{% block body %}
<a href="/courses/view/{{ course.id }}" >See Class Page.</a>
    <div class='classmates'>
    {% for person in users %}

        <div class="contact_card">
        	<div class='person_name'>
        	<img src='{% static "images/avatar_logo_default.png" %}' class='card_icon'>
        	<span class='name'>{{ person.first_name }} {{ person.last_name }}</span>
        	</div>
        	
        	<div class='person_info'>
        	<ul class="contact_info_list">
        		
        		<li>
        			UVM Email: <a href="mailto:{{ person.uvm_email }}?Subject=Message from a classmate via CatLynx">{{ person.uvm_email }}</a>
        		</li>

        		{% if person.facebook_url %}
        			<li>
        				<a href="{{ person.facebook_url }}">{{ person.first_name }}'s Facebook</a>
        			</li>
        		{% endif %}

        		{% if person.additional_email_1 %}
        			<li>
        				Other Email: {{ person.additional_email_1 }}
        			</li>
        		{% endif %}

        		{% if person.additional_email_2 %}
        			<li>
        				Alternate Email: {{ person.additional_email_2 }}
        			</li>
        		{% endif %}

        		{% if person.phone_number %}
        			<li>
        				Phone: {{ person.phone_number }}
        			</li>
        		{% endif %}
        	
        	</ul>
        	</div>
        </div>

    {% endfor %}

    </div>
{% endblock %}
