{% extends "classapp/base.html" %}
    {% load staticfiles %}

{% block body %}

<div class='courselist main_content'>
	<div class='courselist_classes'>
	
	    {% for course in courses %}
		<div class='course_object'>
	    <a href="{{ course.get_absolute_url }}">
	    	<p>
	    		{{ course.subject }}
	    		
	    		{{ course.number }}
	    	</p>
		</a>
	    	<p>
	    		{{ course.name }}
	    	</p>
	    	<p>
	    		{{ course.instructor }}
	    	</p>
		</div>
	    {% endfor %}
	</div>
</div>

{% endblock %}
