{% extends "classapp/base.html" %}

{% block body %}

<article class='course_view'>
<h2>{{ course.term }} {{ course.subject }}{{ course.number }}, Section {{ course.section }}</h2>
<div class='see_classmates'>
<a href="/courses/classmates/{{ course.id }}" class='see_classmates'>See classmates.</a>
</div>

<form action="{{ course.get_absolute_url }}" method="post" class='post_form'>
    {% csrf_token %}
    {{ new_post_form }}
    <br>
    <input type="submit" value="Post">
</form>

<ul class="posts">
    {% for post in posts %}
        <li class="post">
            {% if post.anon %}
                <p>Anonymous</p>
                <p>{{ post.content }}</p>
            {% else %}
                <p>{{ post.user.full_name }}</p>
                <p>{{ post.content }}</p>
            {% endif %}

            <ul class="comments">
                {% for comment in post.comment_set.all %}
                    <li class="comment">
                        {% if comment.anon %}
                            <p>Anonymous</p>
                            <p class='comment_content'>{{ comment.content }}</p>
                        {% else %}
                            <p>{{ comment.user.full_name }}</p>
                            <p class='comment_content'>{{ comment.content }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <h5>REPLY</h5>
            <form action="/postreply/{{ post.id }}" method="post">
                {% csrf_token %}
                {{ new_reply_form }}
                <input type="submit" value="Post reply">
            </form>
        </li>
        
        <hr>

    {% endfor %}
</ul>
</article>
{% endblock %}
