{% extends "classapp/base.html" %}

{% block body %}
<article>
<p>{{ course.term }} {{ course.subject }}{{ course.number }}, Section {{ course.section }}</p>

<p>Make a post</p>

<form action="{{ course.get_absolute_url }}" method="post">
    {% csrf_token %}
    {{ new_post_form }}
    <input type="submit" value="Post">
</form>

<ul class="posts">
    {% for post in posts %}
        <li class="post">
            <p>{{ post.user.full_name }} Made a post</p>
            <p>{{ post.content }}</p>
            <ul class="comments">
                {% for comment in post.comment_set.all %}
                    <li class="comment">
                        {% if post.anon %}
                            <p>Anonymous</p>
                            <p>{{ comment.content }}</p>
                        {% else %}
                            <p>{{ comment.user.full_name }}</p>
                            <p>{{ comment.content }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <h2>REPLY</h2>
            <form action="/postreply/{{ post.id }}" method="post">
                {% csrf_token %}
                {{ new_reply_form }}
                <input type="submit" value="Post reply">
            </form>
        </li>

    {% endfor %}
</ul>
</article>
{% endblock %}
