{% extends "classapp/base.html" %}
{% load staticfiles %}

{% block body %}

<div class='courselist'>
		<div class='courselist_classes'>
	
	    {% for course in courses %}
			<div class='course_object'>
		    <a href="{{ course.get_absolute_url }}" class='course_id'>
		    	<p>
		    		{{ course.subject }}
	                {{ course.number }}
	                {{ course.section }}
		    	</p>
			</a>
			<div class='course_info'>
		    	<p>
		    		{{ course.name }}
		    	</p>
		    	<p>
		    		{{ course.instructor }}
		    	</p>
		    	<p>
		    		{{ course.description }}
		    	</p>
			</div>
		</div>
		 <a href="remove_course">Remove Course</a>
	    {% endfor %}
	</div>
</div>

{% endblock %}