{% extends "classapp/base.html" %}

{% block body %}

{% if request.user.is_authenticated %}
 You are logged in yay
{% else %}
{% endif %}

{% if form.errors %}
Form errors
{% endif %}
{% load staticfiles %}


<div class="login">
	<div class='home_logo'>
		<img src='{% static "images/logo.png" %}' class='home_logo_image'>
	</div>
    <form action="/accounts/login/" method="post" class='login_form'>
        {% csrf_token %}
        <p>Username</p>
        {{ form.username }}
        <p>Password</p>
        {{ form.password }}
        <input type="submit" value="login">
    </form>
</div>

{% endblock %}
