{% extends "classapp/base.html" %}

{% block body %}

{% if request.user.is_authenticated %}
 You are logged in yay
{% else %}
{% endif %}

{% if form.errors %}
Form errors
{% endif %}
{% load staticfiles %}


<div class="login">
	<div class='home_logo main_content'>
		<img src='{% static "images/logo.png" %}' class='home_logo_image'>
	</div>
	<div class='sidebar'>
	    <img src='{% static "images/title.png" %}' class='title_image'>
	    <form action="/accounts/login/" method="post" class='login_form'>
	        {% csrf_token %}
	        <label>Username</label>
	        {{ form.username }}
	        
	        <label>Password</label>
	        {{ form.password }}
	        <input type="submit" value="login">
	    </form>
	    <br><br>
	    <button class='helpbutton'>Help (?)</button>
 			<div class='helpcontent'><p><br>CatLynx is a web app that connects classmates in order to collaborate, get help, and share insights.
We've all been in a class where we don't know anyone. 
CatLynx is here to make sure that even the most shy and quiet student can find help.
Since CatLynx uses UVM authentication, only current UVM students can sign in.
No professors, which means no pressure and no impact on your grades!
</p></div>
	</div>
</div>

{% endblock %}


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
	$(document).ready(function(){
		$("p").hide();

	    $("button").click(function(){
	        $("p").toggle(200);
	    });
	});
 </script>