{% extends "classapp/base.html" %}
{% block title %}Personal Contact Information{% endblock %}
{% block body %}


<h2>Editing the contact info of {{ UVMUser.first_name }} {{ UVMUser.last_name }}.</h2>
<form action="/editcontact/{{ UVMUser }}" method="POST">

{% if form.non_field_errors %}
	<div class= "alert alert-danger">
		{{ form.non_field_errors }}
	</div>
{% endif %}
    
    <span class = "formItem formMisc submitButton"><input type="submit" class="btn btn-default" value="Save"></span>
    {% csrf_token %}
    <h3>We already have your UVM email {{UVMUser.first_name }}.{{UVMUser.last_name }}@uvm.edu</h3>
    <span class = "form_item" id = "uvm_email">
    	<label for="id_uvm_email">Use as primary email</label> 
    	{{ form.uvm_email }}
    </span>
{% if form.uvm_email.errors %}
	<div class = "field-error">
		{{ form.uvm_email.errors }}
	</div>
{% endif %}
	    
    <h3>Link Social Media</h3>
    <span class = "form_item" id = "facebook_url">
    	<label for="id_facebook_url">Use as primary email</label> 
    	{{ form.facebook_url }}
    </span>
{% if form.facebook_url.errors %}
	<div class = "field-error">
		{{ form.facebook_url.errors }}
	</div>
{% endif %}

    
    <h3>Additional email addresses to contact you at</h3>
    <span class = "form_item" id = "additional_email_1">
    	<label for="id_additional_email_1">Use  email</label> 
    	{{ form.additional_email_1 }}
    </span>
    <span class = "form_item" id = "additional_email_2">
    	<label for="id_additional_email_2">Use  email</label> 
    	{{ form.additional_email_2 }}
    </span>
{% if form.additional_email.errors %}
	<div class = "field-error">
		{{ form.additional_email.errors }}
	</div>
{% endif %}

    <span class = "form_item formMisc submitButton"><input type="submit" class="btn btn-default" value="Save"></span>
</form>
{% endblock %}