{% extends "classapp/base.html" %}
{% block title %}Personal Contact Information{% endblock %}
{% block body %}

<div class="main_content">
<h2>Editing the contact info of {{ person.first_name }} {{ person.last_name }}.</h2>
<form action="/editcontact/{{ UVMUser }}" method="POST">

{% if form.non_field_errors %}
	<div class= "alert alert-danger">
		{{ form.non_field_errors }}
	</div>
{% endif %}
    
    <span class = "formItem formMisc submitButton"><input type="submit" class="btn btn-default" value="Save"></span>
    {% csrf_token %}
    <h3>We already have your UVM email: {{ person.uvm_email }}</h3>
        
    <h3>Link Social Media</h3>
    <span class = "form_item" id = "facebook_url">
    	<label for="id_facebook_url">Facebook profile URL</label> 
    	{{ form.facebook_url }}
    </span>
{% if form.facebook_url.errors %}
	<div class = "field-error">
		{{ form.facebook_url.errors }}
	</div>
{% endif %}

    
    <h3>Additional email addresses to contact you at</h3>
    <span class = "form_item" id = "additional_email_1">
    	<label for="id_additional_email_1">Additional Email</label> 
    	{{ form.additional_email_1 }}
    </span>
    <span class = "form_item" id = "additional_email_2">
    	<label for="id_additional_email_2">Additional Email</label> 
    	{{ form.additional_email_2 }}
    </span>
{% if form.additional_email.errors %}
	<div class = "field-error">
		{{ form.additional_email.errors }}
	</div>
{% endif %}

    <h3>Phone</h3>
    <span class = "form_item" id = "phone_number">
        <label for="id_phone_number">Enter </label> 
        {{ form.phone_number }}
    </span>
{% if form.phone_number.errors %}
    <div class = "field-error">
        {{ form.phone_number.errors }}
    </div>
{% endif %}
    <span class = "form_item formMisc submitButton"><input type="submit" class="btn btn-default" value="Save"></span>
</form>
</div>
{% endblock %}